spring:
  application:
    name: hw-app

  datasource:
    url: jdbc:postgresql://localhost:5433/hw-db
    username: admin
    password: wasd123
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
    enabled: true

  batch:
    job:
      enabled: true
    jdbc:
      initialize-schema: always

  server:
    port: 8080

  logging:
    level:
      ru.hw.PetrushinNickolay: DEBUG
      org.springframework.web: INFO
app:
  document:
    batch-size: 2
submit:
  worker:
    delay: 10
approve:
  worker:
    delay: 15
